// Place all the styles related to the api/Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
}

.chat-room {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  background: #2e3236;
  width: 100%;
}

.channel-list {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: white;
  }
  h3 {
    color: white;
    padding: 8px 15px;
  }
}

.setting-icons {
  color: rgb(185, 187, 190);
  padding: 5px;
}

.setting-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(41, 43, 47);
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  height: 50px;
  align-items: center;
}

.setting-icons-container {
  height: 50px;
  padding-top: 17px;
}

.server-name {
  height: 47px;
  -webkit-box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
  box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
  h3 {
    font-size: 18px;
  }
}

.channel-name {
  background-color: #363a3e;
  border-bottom: 1px solid black;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-box-shadow: 8px 0px 0px 0px #dcd0c0, 0px 8px 0px 0px #b1938b,
    -8px 0px 0px 0px #4e4e56 1px 4px 0px 5px rgba(0, 0, 0, 0.73);
  box-shadow: 8px 0px 0px 0px #dcd0c0, 0px 8px 0px 0px #b1938b,
    -8px 0px 0px 0px #4e4e56 1px 4px 0px 5px rgba(0, 0, 0, 0.73);

  h1 {
    color: white;
    font-size: 18px;
    padding: 8px 15px;
  }
}

.social-links {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 10px;

  a {
    text-decoration: none;
    color: inherit;
  }
  a:visited {
    text-decoration: none;
    color: white;
  }
}

.social-links-items {
  padding-right: 15px;
  vertical-align: bottom;
}

.right-side-container {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  width: 100%;
  height: 100%;
}
