.home-page {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  background: #37393e;
  width: 100%;
}

.welcome-container {
  width: 1400px;
  background-color: #363a3e;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    display: block;
    color: white;
    font-size: 50px;
    width: 70%;
  }
}

.home-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background: #2e3236;

  min-width: 240px;
  h3 {
    color: white;
    padding: 8px 15px;
  }
}

.home-container {
  -webkit-box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
  box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
}
