// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style: none;
  margin: 15px;
}

.message-board-container {
  width: 1000px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.chatroom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.message-list {
  height: 92vh;
  overflow-y: scroll;
  width: 100%;
  color: white;
  background-color: rgb(64, 68, 75);
  
  &::-webkit-scrollbar {
    background-color: rgb(54,57,63);
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(46,51,56);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
  }
}


.message-form {
  background-color: rgb(64, 68, 75);
  padding: 5px;
  text-align:center;
  input[type=text] {
    width: 95%;
    margin: 5px;
    background-color: rgb(64,68,75);
    padding: 15px;
    border-radius: 5px;
    color: white;
  }
  input[type=submit] {
    visibility: hidden;
  }
}

