// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style: none;
  margin: 15px;
}

.message-board-container {
  width: 1000px;
}

.chatroom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-list {
  height: 92vh;
  overflow-y: scroll;
  width: 100%;
  color: white;

}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.message-form {

  padding: 5px;
  text-align:center;
  input[type=text] {
    width: 95%;
    margin: 5px;
    background-color: rgb(64,68,75);
    padding: 15px;
    border-radius: 5px;
    color: white;
  }
  input[type=submit] {
    visibility: hidden;
  }
}

