// Place all the styles related to the api/servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.server-list {
  a {
    color: white;
    background-color: grey;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 90px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
  }
}