// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.app {
  font-family: 'Whitney Bold';
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;

}

a {
  text-decoration: none;
}